.wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border: 3px solid var(--border-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-item {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.settings-item:hover {
    background-color: var(--hover-color);
}