.wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 70px;
    border: 3px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--background-primary);
    box-shadow: 0px 0px 10px var(--shadow-color);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.action {
    width: 50px;
    height: 50px;
    background-color: var(--background-primary);
    border-radius: 15px;
    border: 3px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-primary);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

/* Make SVG icons outlined using the theme variable. This will override inline fill attributes. */
.action svg {
    fill: var(--icon-stroke-color);
    stroke: var(--icon-stroke-color);
}

#edge svg {
    fill: none;
}

.action:active svg {
    stroke: var(--text-active);
    fill: var(--text-active);
}

.action:hover {
    background-color: var(--hover-color);
}

.action:active {
    background-color: var(--button-active);
    border-color: var(--button-active-border);
    color: var(--text-active);
}