.wrapper {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 250px;
    border-right: 3px solid var(--border-color);
    background-color: var(--background-primary);
    box-shadow: 3px 0px 10px var(--shadow-color);
    transition: width 0.5s ease-in-out, background-color 0.3s ease, border-color 0.3s ease;

    &.collapsed {
        width: 50px;
        
        .nav-top {
            width: 50px;
            padding: 0;
            justify-content: center;
        }
    }
}

.nav-bar-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-top {
    width: 240px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    font-size: 18px;
    font-weight: bold;
}

.collapse {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapse:hover {
    cursor: pointer;
    background-color: var(--hover-color);
    border-radius: 7px;
}

.hidden {
    display: none;
}

.nav-title {
    white-space: nowrap;
    margin-left: 10px;
    .collapsed & {
        opacity: 0;
    }
}

.collapse svg {
    transition: width 0.3s ease-in-out;
}

.nav-content {
    margin-left: 10px;
}